<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">

    <title>Pledge</title>

    <!-- Bootstrap core CSS -->
    <link href="scripts/bootstrap/dis/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="scripts/css/footer.css" rel="stylesheet"> 
    <link href="scripts/css/pledge.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../scripts/bootstrap/assets/js/html5shiv.js"></script>
      <script src="../scripts/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Pitch.In</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span><img src="scripts/images/profile_picture.jpg" alt=""></span> &nbsp;&nbsp;Nicodemus  
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/profile">Profile</a></li>
<!--                   <li><a href="#">Backed projects</a></li>
                  <li><a href="#">Favorite projects</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Settings</a></li> -->
                  <li><a href="#">Log out</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">

        <div class="row" id="pledge-title-container">
          <div class="page-header pledge-title">
            <h2 class="pledge-title-main">XAVIER ESQUIRE</h2>
            <h4>
              <span class="pre-creator">by </span>
              <span class="creator-name"><a href="#">Nana Gyamfi Adonteng</a></span>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">  

            <div class="row" id="pledge-content">
              <div class="col-md-8">  
                <div class="row" id="pledge-intro">
                  <p class="text-muted">
                    How much would you like to pledge?
                  </p>
                </div>
                <div class="row" id="pledge-amount">
                  <div class="col-xs-6 col-lg-6">
                    <div class="input-group">
                      <span class="input-group-addon text-muted">$</span>
                      <input type="num" class="form-control" placeholder="Enter your pledge amount">
                      <!-- <span class="input-group-addon">.00</span> -->
                    </div>
                  </div>
                  <div class="col-xs-6 col-lg-6 text-muted">
                    <p>                      
                      $1<br>
                      or more<br>
                    </p>
                  </div>
                </div>
                <div class="row" id="reward-banner">
                  <span class="label label-success">
                    Select your reward         
                  </span>
                </div>
                <div class="row" id="reward-items">
                  <div class="row active">                    
                    <label>Description</label>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                  </div>
                  <div class="row">                    
                    <label>Description</label>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                  </div>
                  <div class="row">                    
                    <label>Description</label>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                  </div>
                  <div class="row">                    
                    <label>Description</label>
                    <p>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4"  id="plegde-side-info"> 
                <div class="row">
                  <span class="label label-danger"> Caution </span> <br>
                  <span>                  
                    <h6 class="text-muted">
                      By clicking 'Continue', you acknowledge that you understand that you are contributing to a work-in-progress and not making a direct purchase. Rewards are managed by the campaigners and cannot be guaranteed by Pitch.In. Your click also acknowledges that you agree to the Pitch.In <a href="">Terms of Use</a>.
                    </h6> 
                  </span>                 
                </div>
                <div class="row" style="border:none;">
                  <h6 style="font-weight:bold;">FREQUENTLY ASKED QUESTIONS</h6>
                  <h6>How do I pledge?</h6>
                  <h6>When is my card charged?</h6>
                  <h6>So I'm only charged if funding succeeds?</h6>
                  <h6>What if I want to change my pledge?</h6>
                  <h6>If this project is funded, how do I get my reward?</h6>
                </div>
              </div>
            </div>          

              <div class="row" id="pledge-continue">
                <a href="/pay" class="btn btn-default col-sm-offset-6">Continue</a>
              </div>
              <br><br>
          </div>
        </div>

      </div>
    </div>

    <div id="footer">
      <div class="container">
        <ul class="site-footer-links text-muted credit">          
          <li>&copy; 2013 <span title="">Pitch.In</span></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Security</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="scripts/bootstrap/assets/js/jquery.js"></script>
    <script src="scripts/bootstrap/dis/js/bootstrap.min.js"></script>
  </body>
</html>
